<div style="height: 100%; display:flex; flex-flow: column">
  <div style="background-color:#F3652B">Current chatroom: {{chatroom.name}}</div>
  <div id="chatContent" style="overflow:scroll; height: 100%">
    {% for message in messages %}
      <div id="chatItem" class="chat-item">
        <div>{{message.owner}} says:</div>
        <div class="message-content">
          <div>{{message.content}}</div>
          <div>created: {{message.created}}</div>
        </div>
      </div>
    {% endfor %}

  </div>

  <form method="POST" style="" class="chat-form">
    {% csrf_token %}
    {% if form.content.errors %}
      <ul class="errorlist">
        {% for error in form.content.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {{ form.content }}
    <input type="submit" id="submitMessage" value="Send message"></input>
  </form>
</div>
<script type="text/javascript">
  chatContent = document.getElementById("chatContent");
  chatContent.scrollTo(0, chatContent.scrollHeight);
  setTimeout(function(){ 
    inputElement = document.querySelector("[name=content]")
    if(!inputElement.value){
      window.location.href=window.location;
    }
  }, 5000)

</script>

<style>
  .chat-item {
    margin: 10px 0;
  }
  .message-content {
    display: flex;
    margin-left: 30px;
    justify-content: space-between;
  }
</style>
